<%- include("partials/header.ejs") %>
<main>
<h1><%= fighter.name %></h1>
<p>Height: <%= fighter.height %></p>
<p>Mass: <%= fighter.mass %></p>
<p>Hair Color: <%= fighter.hair_color %></p>
<p>Eye color: <%= fighter.eye_color %></p>
<p>Birth Year: <%= fighter.birth_year %></p>
<p>Gender: <%= fighter.gender %></p>

</main>
<%- include('partials/footer.ejs') %>